<% provide(:title, "Archive") %>

<div class="row">
  <div class="small-11 small-centered columns">
    <div id="archive" class="panel">
      <p>
        <%= image_tag("bardahl_special_45.jpg", alt: "Bardahl Special #45", class: "special-45") %>NEW INDY CAR -- Jack Turner of Seattle is show in the new $30,000 Bardahl Special he will drive in the Indianapolis 500 Mile Race this May 30. The 1962 Memorial Day Classic will mark Turner’s seventh year at Indianapolis and Bardahl’s 13th consecutive year and 20th car. The jet black roadster, powered by a 435 horsepower Offenhauser engine, is slated to arrive at the Speedway on May 1. Already officially entered in the race, Bardahl Special #45 will be among the first cars to bid for the coveted pol starting position with fastest first day qualifying speed.
      </p>

      <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <li><%= image_tag(imgs("bardahl_special_2.jpg"), alt: "Bardahl Special #2") %></li>
        <li><%= image_tag(imgs("curtain.jpg"), alt: "Bardahl Car Showroom") %></li>
        <li><%= image_tag(imgs("sam_hanks.jpg"), alt: "Sam Hanks Bardahl Special 1953 National Champion") %></li>
        <li><%= image_tag(imgs("signed.jpg"), alt: "Mr. Bardahl - Bardahl Capitol Enterprises") %></li>
        <li><%= image_tag(imgs("poster.jpg"), alt: "Bardahl Poster") %></li>
      </ul>
    </div>
  </div>
</div>