<% provide(:title, "Archive") %>

<div class="row">
  <div class="small-11 small-centered columns">
    <div id="archive" class="panel">
      <p>
        <%= image_tag("bardahl_special_45.jpg", alt: "Bardahl Special #45", class: "special-45") %>NEW INDY CAR -- Jack Turner of Seattle is show in the new $30,000 Bardahl Special he will drive in the Indianapolis 500 Mile Race this May 30. The 1962 Memorial Day Classic will mark Turner’s seventh year at Indianapolis and Bardahl’s 13th consecutive year and 20th car. The jet black roadster, powered by a 435 horsepower Offenhauser engine, is slated to arrive at the Speedway on May 1. Already officially entered in the race, Bardahl Special #45 will be among the first cars to bid for the coveted pol starting position with fastest first day qualifying speed.
      </p>

      <div class="row">
        <div class="small-4 columns">
          <%= image_tag("bardahl_special_2.jpg", alt: "Bardahl Special #2") %>
        </div>
        <div class="small-4 columns">
          <%= image_tag("curtain.jpg", alt: "Bardahl Car Showroom") %>
        </div>
        <div class="small-4 columns">
          <%= image_tag("sam_hanks.jpg", alt: "Sam Hanks Bardahl Special 1953 National Champion") %>
        </div>       
      </div>
      <div class="row">
        <div class="small-4 columns">
          <%= image_tag("signed.jpg", alt: "Mr. Bardahl - Bardahl Capitol Enterprises") %>
        </div>
        <div class="small-8 columns">
          <%= image_tag("poster.jpg", alt: "Bardahl Poster") %>
        </div>
      </div>
    </div>
  </div>
</div>